$cor-site:rgb(69, 142, 172) ;
$cor-fundo:rgb(211, 230, 249);
$cor-elementos: white;
$cor-main: rgb(199, 224, 250);
$cor-buttons: rgb(110, 183, 215);

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');


body{
    background-color: $cor-fundo;
    overflow-x: hidden;
    font-family: "Baskervville SC", serif;
    margin: 0;
    padding-top: 120px; 
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $cor-site; 
  padding: 20px;
  color: $cor-elementos; 
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}
header img {
    width: 13%;
    height: 200%;
}
nav a {
    margin: 0 15px;
    color: $cor-elementos; 
    text-decoration: none;
    margin-right: 40px;
}
nav a:hover {
    text-decoration: underline;
}
main {
  font-size: 60px;
            background-color: $cor-main; 
            width: 100%;
            height: 600px;
        }
        .esconder {
            opacity: 0;
        }
        .mostrar {
            opacity: 1;
        }
        p {
            color: black;
            margin-top: 8%;
            font-size: 30px;
            margin-left: 42%;
        }
        #text {
          text-align: center;
        }



  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }

  #chat-button {
    background-color: $cor-buttons; 
    color: white; 
    border: none; 
    border-radius: 20px; 
    font-size: 40px; 
    font-family: "Baskervville SC", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    height: 200px;
    width: 300px;
    margin-left: 20%;
    margin-top: 5%;

}



#chat-button:hover {
    background-color: $cor-site; /* Cor de fundo ao passar o mouse */
}

#chat-button2 {
  background-color: $cor-buttons; 
  color: white; 
  border: none; 
  border-radius: 20px; 
  padding: 10px 20px; 
  font-size: 40px; 
  font-family: "Baskervville SC", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  height: 200px;
  width: 300px;
  margin-left: 20%;
  margin-top: 10%;

}

#chat-button2:hover {
  background-color: $cor-site; 
}

#sobre {
  text-align: left;
  }

#sobre h2 {
  font-size: 40px;
  text-align: left;
  margin-top: 9%;
  margin-left: 5%;
}

#sobre h2 span {
  color: $cor-buttons; 
  font-weight: bold;

}

