@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  background-color: rgb(211, 230, 249);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-top: 90px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(69, 142, 172);
  padding: 20px;
  color: white;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header img {
  width: 13%;
  height: 200%;
}

.form {
  --input-text-color: #fff;
  --input-bg-color: rgb(110, 183, 215);
  --focus-input-bg-color: transparent;
  --text-color: #fff;
  --active-color: black;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  margin-right: 5%;
  width: var(--width-of-input);
  align-items: center;
  justify-content: center;
}

.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 0 auto;
  position: relative;
  max-width: 300px;
}

.search, .close-btn {
  flex: 0 0 auto;
    text-align: center;
}

.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
  position: absolute;
}

svg {
  width: 18px;
  margin-right:120px;
  display: block;
}

.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}

.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, var(--inline-padding-of-input) + var(--gap));
  background: none;
  border: none;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
}

.input:focus {
  outline: none;
}

.input::-moz-placeholder {
  color: var(--text-color);
}

.input::placeholder {
  color: var(--text-color);
}

.input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}

.input:focus ~ .search {
  fill: var(--active-color);
}

.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  margin-right: 40px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  font-size: 60px;
  background-image: url("imagens/fundo.jpg");
  width: 100%;
  height: 600px;
}

.esconder {
  opacity: 0;
}

.mostrar {
  opacity: 1;
}

main p {
  color: black;
  margin-top: 8%;
  font-size: 30px;
  margin-left: 42%;
}

#text {
  text-align: center;
}

.linha {
  color: rgb(110, 183, 215);
  background-color: rgb(110, 183, 215);
  height: 2px;
}

.app-download {
  text-align: center;
}

.app-download h2 {
  color: #333;
  font-size: 30px;
  margin-left: 3%;
}

.app-download p {
  color: #666;
  font-size: 20px;
  margin-right: 40%;
  margin-top: 1%;
}

.qr-code img {
  width: 150px;
  height: 150px;
  margin: 20px 0;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(69, 142, 172);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 20%;
  font-size: 20px;
}

.download-button:hover {
  background-color: rgb(110, 183, 215);
}

@keyframes anim {
  0%, 100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }
  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header img {
    width: 25%;
    height: auto;
  }

  .form {
    width: 100%;
    margin-right: 0;
  }

  nav a {
    margin: 0 10px;
    margin-right: 20px;
  }

  main {
    font-size: 40px;
    height: auto;
    padding: 20px;
  }

  main p {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }

  .app-download p {
    margin-right: 0;
    text-align: center;
  }
}

/* Estilos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  header img {
    width: 20%;
    height: auto;
  }

  main {
    font-size: 50px;
    height: auto;
    padding: 40px;
  }

  main p {
    font-size: 25px;
    margin-left: 20%;
  }

  .app-download p {
    margin-right: 20%;
  }
}

#button-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
  margin-top: 10%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

#chat-button, #chat-button2, #chat-button3, #chat-button4 {
  background-color: rgb(110, 183, 215);
  flex: 0 0 auto;
  scroll-snap-align: start;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100px;
  width: 300px;
  margin: 10px; /* Adiciona espaço entre os botões */
}
#chat-button:focus, #chat-button2:focus, #chat-button3:focus, #chat-button4:focus {
  outline: none;
}

#chat-button:hover, #chat-button2:hover, #chat-button3:hover, #chat-button4:hover {
  background-color: rgb(69, 142, 172);
  
}

#sobre {
  padding: 0 20px;
  margin-top: 10%;
}

#sobre .titulo {
  font-size: 2.3em;
}

#sobre p {
  font-size: clamp(1.2em, 5vw, 1.8em);
}

#sobre .titulo-iara {
  color: rgb(110, 183, 215);
  font-weight: bold;
}

.sobre-container {
  display: flex;
  padding: 0 10px;
  text-align: justify;
}

.sobre-container img {
  width: 500px;
}

footer {
  background-color: rgb(69, 142, 172);
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  letter-spacing: 3px;
  margin-left: 32px;
}